body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 10px;
}
h1{
    text-align: center;
    color: aliceblue;
}
p{
    text-align: center;
    color: aliceblue;
}
.container{
    border: 3px solid #000;
    width: 300px;
    margin-top: 50px;
}

.container form {
    padding-bottom: 20px;
    padding-top: 20px;
}
.container1{
    border: 3px solid #000;
    height: 450px;
    width: 300px;
    margin-top: 50px;
}
.container2{
    margin-top: 50px;
    border: 3px solid #000;
    height: 504,5px;
    width: 300px;
}

.cabeza{
    background-image: linear-gradient(to right top, #070537, #0e2d63, #125491, #117ebf, #12abeb);
    
}
.pie{
    background-image: linear-gradient(to right top, #070537, #0e2d63, #125491, #117ebf, #12abeb);
    height: 100px;
    text-align: center;
}
#botton-form {
    background-image: linear-gradient(to right top, #070537, #0e2d63, #125491, #117ebf, #12abeb);
}

/*iniciar_sesion*/

#login-form {
    text-align: center;
}

#login-form input,
#login-form button,
#login-form a {
    display: block;
    margin: 10px auto;
}

/*registrarse*/

#register-form {
    text-align: center;
}

#register-form input,
#register-form button,
#register-form a {
    display: block;
    margin: 10px auto;
}

/*cambiar_contraseña*/

#forgot-password-form {
    text-align: center;
}

#forgot-password-form input,
#forgot-password-form button,
#forgot-password-form a {
    display: block;
    margin: 10px auto;
}